
    body {background-color: #e2f2a9;
        text-align: justify;
        margin:0 15%;
    }
    img{display: block;
    margin: auto;}
   h1, h2 {	
      text-align: center;
		color: #65988a;
    }
   h1 {
      text-align: center;
      font-size: 1.5em;
   }
   h2 {
      text-align: center;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 1em;
   }